
<div class="row" style="background-color: gray; opacity:0.5; margin-top:75px;">  
    <div class="col-3">
     
        <ul class="list-group">
            <li class="list-group-item"><a  routerLink="/hakkimizda/firmamiz">Firmamiz</a></li>
            <li class="list-group-item"><a routerLink="/hakkimizda/calisanlarimiz">Çalışanlar</a></li>
            
            <li class="list-group-item">Projeler</li>
            <li class="list-group-item">İş Birliklerimiz</li>
          </ul>

        </div>
    <div class="col-9">
        
        <router-outlet></router-outlet>

    </div>
</div>